@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/*.form-canvas {*/
/*  position: relative;*/
/*  !*z-index: 1;*!*/
/*}*/
.build-area {
  position: relative !important;
  z-index: 1;
}
.draggable-fields {
  z-index: 1000;
}
.dragging {
  position: absolute;
  z-index: 1000; /* higher than canvas */
  pointer-events: none;
}
